<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/PC/IdeaProjects/ITI">
        <classes>
            <class name="tests.UserRegistrationTest">
                <methods>
                    <include name="userCanRegisterSuccessfully"/>
                    <include name="RegisterUserCanLogout"/>
                    <include name="RegisterUserCanLogin"/>
                </methods>
            </class>

            <class name="tests.AddItemTest">
                <methods>
                    <include name="AddItemToCart"/>
               </methods>
            </class>

        </classes>
    </test>
</suite>